<main>

  <header class="container">
    <app-header [numberItems]="numberItems"></app-header>
  </header>

  <section class="container">
    <app-product-list
    [products]="products"
    (onRemoveProduct)="removeProduct($event)"
    (onUpdateQty)="updateQty($event)"
    >
  </app-product-list>
  </section>

  <section class="container">
    <app-promotion></app-promotion>
    <app-total [subTotal]="subTotal" [tax]="tax" [grandTotal]="grandTotal"></app-total>

    <div class="checkout">
      <button type="button">Check Out</button>
    </div>
  </section>

</main>
